{% extends 'corridor/IN_USER_WELCOME.html' %}
{% block left-navbar-list %}
<li class="nav-item">
            <a class="nav-link" href="/">
              <i class="fas fa-home"></i>
              Anasayfa <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profil-sayfam/">
              <i class="fas fa-user"></i>
              Profilim
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/hayyam-konular/">
              <i class="fas fa-book"></i>
              Konularımız
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kullanici-listesi/">
              <i class="fas fa-users"></i>
              Kullanıcı Listesi
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/soru-coz/">
              <i class="fas fa-pencil-alt"></i>
              Soru Çöz
            </a>
          </li>
{% endblock %}
{% block icerik %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

        <h2 class="py-3 text-left">Matematik</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Konunun kodu</th>
              <th>Konu</th>
              <th>Toplam Soru Sayısı</th>
              <th>Senin ilerleme yüzden</th>

            </tr>
          </thead>
          <tbody>
          {% for konu in MAT_KONULARI %}
            <tr>
              <td>{{konu.ders_kodu}}</td>
                <td><a class="text-info" href="/konular/{{konu.id}}/">{{konu.isim}}</a></td>
              <td>{{konu.soru_Sayisi}}</td>
              <td class="text-danger">0%</td>

            </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>
        <h2 class="py-3 text-left">Geometri</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Konunun Kodu</th>
              <th>Konu</th>
              <th>Toplam Soru Sayısı</th>
              <th>Senin ilerleme yüzden</th>


            </tr>
          </thead>
          <tbody>
            {% for konu in GEO_KONULARI %}
            <tr>

              <td>{{konu.ders_kodu}}</td>
              <td class="text-info"><a href="/konular/{{konu.id}}/">{{konu.isim}}</a></td>
              <td>{{konu.soru_Sayisi}}</td>
              <td class="text-danger">0%</td>

            </tr>
            {% endfor %}

          </tbody>
        </table>
        </div>
</main>
{% endblock %}
