{% extends 'corridor/IN_USER_WELCOME.html' %}
{% block left-navbar %}
{% endblock %}
{% block icerik %}
<main role="main" class="inner cover">
    <h1 class="cover-heading">Üzgünüz...</h1>
    <p class="lead">Bu sayfaya erişebilmek için giriş yapmalısınız. Eğer bir hesabınız yok ise <a href="#">buraya</a> tıklayarak yeni bir hesap da oluşturabilirsiniz.<br> Anlayışınız için teşekkür ederiz. <br> Hayyam - Future of Education</p>
    <p class="lead">
      <a href="/" class="btn btn-lg btn-secondary">Giriş Yap</a>
      <a href="/register/" class="btn btn-lg btn-secondary">Kaydol</a>
    </p>
</main>
{% endblock %}